@import '../../../custom-design.scss';

$stroke-color: "green" $color-green,"red" $color-red, "orange" $color-orange;

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: $color-white;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

@each $stroke, $color in $stroke-color {
  .circular-chart.#{$stroke} .circle{
    stroke:$color;
  }
}

.text-score {
  fill: $color-gray;
  text-anchor: middle;
}

.text-percentage{
  font-size: 10px;
}
