@import "../../../../custom-design.scss";
.list-box {
  justify-content: space-evenly;
}




.page-link {
  color: $primary-color;
  cursor: pointer;
}

.page-link.current-page {
  border: 1px solid black;
  z-index: 99;
}
