<div class="container-xl">
  <h2 class="text-center font-weight-bolder my-2">Create New List</h2>
  <form nz-form [formGroup]="validateForm" nzLayout="vertical">
    <nz-form-item>
      <nz-form-label>Name</nz-form-label>
      <nz-form-control nzErrorTip="List name required!">
        <input type="text" nz-input formControlName="subject" placeholder="type your list name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Description</nz-form-label>
      <nz-form-control nzErrorTip="Description required!">
        <textarea rows="3" nz-input formControlName="desc"
          placeholder="Make some description...">type some description</textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
  <div>
    <button nz-button nzType="primary" class="mr-3" (click)="submitForm()">
      Continue
    </button>
  </div>
</div>
