<h6 class="text-center font-weight-bold mb-3">建立新清單</h6>
<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label>描述</nz-form-label>
    <nz-form-control nzErrorTip="請輸入清單名稱!">
      <input
        type="text"
        nz-input
        formControlName="subject"
        placeholder="清單名稱"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>描述</nz-form-label>
    <nz-form-control>
      <input type="password" nz-input formControlName="desc" />
    </nz-form-control>
  </nz-form-item>
</form>
<div class="text-center">
  <button nz-button nzType="primary" class="mr-3" (click)="submitForm()">
    確認
  </button>
  <button nz-button nzType="primary" nzGhost (click)="modalRef.close()">
    取消
  </button>
</div>
