<div class="card-container container-xl">
  <h4 class="font-weight-bold">{{ name }}</h4>
  <!-- 搜索結果start -->
  <ng-container *ngIf="displayList.length !== 0; else noData">
    <div class="row list-box no-gutters">
      <ng-container *ngFor="let movie of displayList">
        <div class="col-10 my-3">
          <app-movie-info [movie]="movie" [type]="type" (refreshList)="refreshList()"></app-movie-info>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
<!-- no data -->
<ng-template #noData>
  <div class="text-center py-3">查無資料</div>
</ng-template>
