.rate-box {
  position: absolute;
  top: -20px;
  left: 8px;
}

.img-box {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

img {
  display: block;
  height: 200px;
  aspect-ratio: 133 / 200;
  object-fit: cover;
  border-radius: 10px;
}

// options start
.options-box {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  text-align: center;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(190, 190, 184, 0.6);
  cursor: pointer;
  &:hover {
    background-color: rgb(1, 180, 229);
  }
}

.options {
  li {
    padding: 6px 20px;
  }
}

i {
  vertical-align: middle !important;
}
// options end
