<div (click)="onWatchDetail(movie)" class="wrapper">
  <div class="img-box position-relative">
    <img appBackgroundImg loading="lazy" width="220" height="330" [posterPath]="movie.poster_path" [imgWidth]="220" [imgHeight]="330"
      [alt]="movie.title" />
  </div>
  <div class="info-box position-relative">
    <div class="rate-box">
      <app-rate-icon [rate]="movie.vote_average"></app-rate-icon>
    </div>
    <div class="pl-2">
      <h6 class="pt-3 font-weight-bold mb-0">{{ movie.title }}</h6>
      <p class="fc-light">{{ movie.release_date }}</p>
    </div>
  </div>
</div>
