<div class="carousel-cell" (click)="onWatchDetail(movie)">
  <div class="img-box position-relative">
    <img src="{{ API_POSTER.GET_POSTER + movie.poster_path }}" alt="" />
  </div>
  <div class="info-box position-relative">
    <div class="rate-box">
      <app-rate-icon [rate]="movie.vote_average"></app-rate-icon>
    </div>
    <div class="pl-2">
      <h6 class="pt-3 font-weight-bold mb-0">{{ movie.title }}</h6>
      <p class="fc-light">{{ movie.release_date }}</p>
    </div>
  </div>
</div>
