.specific-box {
  padding: 20px;

  @media screen and (min-width: 576px) {
    padding: 30px 40px;
  }
}

.col-cus {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  position: relative;
  width: 100%;
  // padding-right: 15px;
  // padding-left: 15px;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e3e3e3;
  border-radius: 10px;

  @media screen and (min-width: 1024px) {
    flex: 0 0 25%;
    max-width: 25%;
  }

  @media screen and (min-width: 1140px) {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.pad_movie_wrapper {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  width: 150px;
}

.loading-box {
  font-weight: 700 !important;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 12px;
}
