<div class="card-container">
  <nz-tabset nzType="card">
    <ng-container *ngFor="let tab of tabList">
      <nz-tab [nzTitle]="tab.title">
        <ul>
          <ng-container *ngFor="let item of displayList[tab.list]">
            <li class="title" (click)="onPositiveClick(item, tab.type)">
              {{ item.title }}
              <span class="close" (click)="removeList(item.id, $event)">x</span>
            </li>
          </ng-container>
        </ul>
      </nz-tab>
    </ng-container>
  </nz-tabset>
</div>
