<form
  nz-form
  [nzLayout]="'vertical'"
  [formGroup]="validateForm"
  class="login-form"
  (ngSubmit)="submitForm()"
>
  <h4>登入至你的帳戶</h4>
  <p>
    登入至你的帳戶 為了使用清單和紀錄功能，你需要登入你的帳戶。 如果沒有，請按<a
      [routerLink]="'/' + ROUTING_PATH.SIGNUP"
      >此處</a
    >開始註冊帳戶。
  </p>
  <nz-form-item>
    <nz-form-label nzRequired>信箱</nz-form-label>
    <nz-form-control [nzErrorTip]="errorMsg(validateForm, 'email')">
      <input
        type="text"
        nz-input
        formControlName="email"
        nzSize="large"
        placeholder="email"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>密碼</nz-form-label>
    <nz-form-control [nzErrorTip]="errorMsg(validateForm, 'password')">
      <input
        type="password"
        nz-input
        formControlName="password"
        nzSize="large"
        placeholder="Password"
      />
    </nz-form-control>
  </nz-form-item>

  <button
    nz-button
    class="login-form-button login-form-margin"
    [nzType]="'primary'"
  >
    登入
  </button>
</form>
