.login-form {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.divider-text > span {
  display: inline-block;
  position: relative;
  &::before {
    content: "";
    width: 120px;
    border-top: 1px solid black;
    position: absolute;
    top: 50%;
    right: 100%;
    margin-right: 15px;
  }
  &::after {
    content: "";
    width: 120px;
    border-top: 1px solid black;
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 15px;
  }
}
