<div class="container-xl">
  <div class="my-3">
    <h4 class="mb-0">Login to your account</h4>
    <p>In order to use the custom lists and favorite, you will need to login to your account</p>
    <p>If you do not have an account, registering for an account is free and simple. <a
        [routerLink]="'/' + ROUTING_PATH.SIGNUP">Click here</a> to get started.
    </p>
  </div>
  <form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label nzRequired>Email</nz-form-label>
      <nz-form-control [nzErrorTip]="errorMsg(validateForm, 'email')">
        <input type="text" nz-input formControlName="email" nzSize="large" placeholder="email" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>Password</nz-form-label>
      <nz-form-control [nzErrorTip]="errorMsg(validateForm, 'password')">
        <input type="password" nz-input formControlName="password" nzSize="large" placeholder="Password"
          minlength="6" />
      </nz-form-control>
    </nz-form-item>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">
      Login
    </button>
  </form>
</div>
