@import "../../../../custom-design.scss";

.genre {
  white-space: normal;
}

.divider {
  border-top: 1px solid black;
  display: block;
}

.list-box {
  display: flex;
  .header {
    min-width: 40px;
  }
  .content {
    padding-left: 8px;
  }
}

.overview {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

hr {
  @media screen and (max-width: 575px) {
    margin: 0.5rem 0;
  }
}
.btn-groups {
  button {
    margin-right: 20px;
  }
}

.new-list-dropdown {
  width: 180px;
  padding: 16px;
  background-color: $color-light-gray;
}

.new-list-btn {
  font-size: 1.3rem;
  font-weight: 600;
}
