<ng-container *ngIf="displayList">
  <h2 class="text-center font-weight-bold mb-3">
    {{ displayList.title }}
  </h2>

  <div class="row">
    <!-- poster start -->
    <div class="col-md-6 col-12">
      <div class="img-box text-center">
        <img
          src="{{ API_POSTER.GET_POSTER + displayList.poster_path }}"
          (error)="imgError($event)"
        />
      </div>
    </div>
    <!-- poster end -->

    <!-- info start -->
    <div class="col-md-6 col-12 pt-3">
      <div class="list-box">
        <div class="header">類型:</div>
        <div class="content">{{ getMovieGenres(displayList.genres) }}</div>
      </div>
      <hr />
      <div class="list-box">
        <div class="header">上映日期:</div>
        <div class="content">{{ displayList.release_date }}</div>
      </div>
      <hr />
      <div class="list-box">
        <div class="header">評分:</div>
        <div class="content">{{ displayList.vote_average }}</div>
      </div>
      <hr />
      <div class="list-box">
        <div class="header">片長:</div>
        <div class="content">{{ displayList.runtime }}分</div>
      </div>
      <hr />
      <div class="py-3 d-md-block d-none">
        <button
          nz-button
          nzType="primary"
          class="d-flex align-items-center"
          (click)="addList(displayList)"
          *ngIf="isInList; else noInList"
        >
          <i nz-icon nzType="heart" nzTheme="fill"></i>
          移出清單
        </button>
        <ng-template #noInList>
          <button
            nz-button
            nzType="primary"
            class="d-flex align-items-center"
            (click)="addList(displayList)"
            *ngIf="!isInList"
          >
            <i nz-icon nzType="heart" nzTheme="outline"></i>
            加入清單
          </button>
        </ng-template>
      </div>
    </div>
    <!-- info end -->
  </div>
  <!-- 簡介 start -->
  <div class="row">
    <div class="col-12 mb-2 my-sm-2" style="font-size: 18px;">電影介紹:</div>
    <div class="col-12 overview">
      {{ displayList.overview ? displayList.overview : "尚無介紹" }}
    </div>
  </div>

  <div class="py-3 d-block d-md-none">
    <button
      nz-button
      nzType="primary"
      class="d-flex align-items-center"
      (click)="addList(displayList)"
      *ngIf="isInList; else noInList"
    >
      <i nz-icon nzType="heart" nzTheme="fill"></i>
      移出清單
    </button>
    <ng-template #noInList>
      <button
        nz-button
        nzType="primary"
        class="d-flex align-items-center"
        (click)="addList(displayList)"
        *ngIf="!isInList"
      >
        <i nz-icon nzType="heart" nzTheme="outline"></i>
        加入清單
      </button>
    </ng-template>
  </div>
</ng-container>
