<h2 mat-dialog-title>Avengers{{ data.id }}</h2>
<mat-dialog-content>
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="img-box">
        <img src="https://picsum.photos/200/300?random=1" alt="" />
      </div>
    </div>
    <div class="col-md-6 col-12">
      <mat-list>
        <h3 matSubheader>A quest to save her world.</h3>
        <mat-list-item>
          <h4 matLine>Genre</h4>
          <p matLine class="demo-2">aaaa</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <h4 matLine>Released</h4>
          <p matLine class="demo-2">2021-03-03</p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="row">
    <div>Overview</div>
    Following the events of Captain America: Civil War, Peter Parker, with the
    help of his mentor Tony Stark, tries to balance his life as an ordinary high
    school student in Queens, New York City, with fighting crime as his
    superhero alter ego Spider-Man as a new threat, the Vulture, emerges.
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary">View in IMDB</button>
  <button mat-raised-button color="primary">View Trailer</button>
  <button mat-raised-button color="primary">Add to fav</button>
</mat-dialog-actions>
