.genre {
  white-space: normal;
}

.divider {
  border-top: 1px solid black;
  display: block;
}


.list-box {
  display: flex;
  .header{
    min-width: 40px;
  }
  .content {
    padding-left: 8px;
  }
}

.over-view{
  height: 200px;
  overflow-y: scroll;
}


hr{
  @media screen and (max-width:575px){
    margin: 0.5rem 0;
  }
}
