<div class="web-box">
  <!-- mobile start < 768px-->
  <nav *ngIf="sharedService.UserDeviceSubject === DEVICE.MOBILE" class="nav-bar position-relative">
    <div class="header row align-items-center">
      <div class="col-4">
        <a (click)="drawerVisible = !drawerVisible">
          <i nz-icon nzType="menu"></i>
        </a>
      </div>
      <nz-drawer [nzClosable]="false" [nzVisible]="drawerVisible" nzPlacement="left" [nzBodyStyle]="{
          'font-weight': '600',
          'font-size': ' 1.3em',
          padding: '16px'
        }" (nzOnClose)="drawerVisible = false">
        <ng-container *nzDrawerContent>
          <ul class="mobile-drawer">
            <li>
              <a routerLink="/home" (click)="drawerVisible = false">Home</a>
            </li>
            <li>
              <a [routerLink]="ROUTING_PATH.SPECIFIC_TYPE" (click)="drawerVisible = false">Advanced search</a>
            </li>
            <li *ngFor="let d of userDropdown" [routerLink]="[ROUTING_PATH.WATCHLIST,d.routerLink]">
              <a [routerLink]="[ROUTING_PATH.WATCHLIST,d.routerLink]" (click)="drawerVisible = false">
                {{d.subject}}
              </a>
            </li>
            <!-- <li>
              <span style="color: rgba(0, 0, 0, 0.45)">清單</span>
              <hr class="m-1" />
              <ul>
                <ng-container>
                  <li *ngFor="let item of customDropList">
                    <a [routerLink]="
                        ROUTING_PATH.WATCHLIST +
                        '/' +
                        ROUTING_PATH.FAVORITE
                      " [queryParams]="{
                        id: item.id,
                        endpoint: API.ADDLIST
                      }" (click)="drawerVisible = false">
                      {{ item.subject }}
                    </a>
                  </li>
                </ng-container>
              </ul>
            </li> -->
          </ul>
        </ng-container>
      </nz-drawer>
      <div class="col-4 text-center">
        <a routerLink="/home" class="px-3 logo">
          <img src="assets/logo1.jpg" height="30" width="88" alt="" />
        </a>
      </div>
      <div class="col-4 pr-3">
        <ul class="d-flex m-0 align-items-center justify-content-end">
          <li *ngIf="!authSvc.isLogin()" class="px-2 touched">
            <a [routerLink]="ROUTING_PATH.LOGIN">Login</a>
          </li>
          <li *ngIf="authSvc.isLogin()">
            <a class="pr-2 need-hover" nz-dropdown [nzDropdownMenu]="listMenu">{{ userInfo?.username }}</a>
            <!-- 我的最愛 start -->
            <nz-dropdown-menu #listMenu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="logout()">Logout</li>
              </ul>
            </nz-dropdown-menu>
            <!-- 我的最愛 end -->
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- PAD start > 768px -->
  <nav *ngIf="sharedService.UserDeviceSubject === DEVICE.PAD" class="nav-bar position-relative">
    <div class="header row align-items-center">
      <!-- 首頁圖標 start -->
      <div class="col-4 col-sm-auto">
        <a routerLink="/home" class="px-3 logo">
          <img src="assets/logo1.jpg" height="30" width="88" alt="" />
        </a>
      </div>
      <!-- 首頁圖標 end -->
      <div>
        <ul class="d-flex m-0 align-items-center">
          <!-- 電影 start -->
          <li class="px-2 touched">
            <a [routerLink]="ROUTING_PATH.SPECIFIC_TYPE">Advanced search</a>
          </li>
        </ul>
      </div>
      <!-- 登入 -->
      <div class="col-4 ml-auto pr-3">
        <ul class="d-flex m-0 align-items-center justify-content-end">
          <li *ngIf="!authSvc.isLogin()" class="px-2 touched">
            <a [routerLink]="ROUTING_PATH.LOGIN">Login</a>
          </li>
          <li *ngIf="authSvc.isLogin()">
            <a class="pr-2 need-hover" nz-dropdown [nzDropdownMenu]="listMenu">{{ userInfo?.username }}</a>
            <!-- 我的最愛 start -->
            <nz-dropdown-menu #listMenu="nzDropdownMenu">
              <ul nz-menu>
                <li *ngFor="let d of userDropdown" nz-menu-item [routerLink]="[ROUTING_PATH.WATCHLIST,d.routerLink]">
                  {{d.subject}}
                </li>
                <li nz-menu-item (click)="logout()">Logout</li>
              </ul>
            </nz-dropdown-menu>
            <!-- 我的最愛 end -->
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- body start -->
  <div class="mb-3">
    <router-outlet></router-outlet>
  </div>
  <!-- body end -->
  <!-- footer start -->
  <footer class="footer p-4">
    <nav class="container-xl mx-auto row">
      <div class="col">
        <h5>THE BASICS</h5>
        <ul>
          <li><a>About Us</a></li>
          <li><a>Contact Us</a></li>
          <li class="text-nowrap">
            <a href="https://www.flaticon.com/authors/iconixar" title="iconixar">Icons made by Flaticon</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <h5>GET INVOLVED</h5>
        <ul>
          <li><a>Contribution</a></li>
          <li><a>Add New Movie</a></li>
        </ul>
      </div>
      <div class="col">
        <h5>COMMUNITY</h5>
        <ul>
          <li><a>Guidelines</a></li>
          <li><a>Discussions</a></li>
        </ul>
      </div>
    </nav>
  </footer>
</div>
<!-- <div>
  Icons made by
  <a href="https://www.flaticon.com/authors/iconixar" title="iconixar"
    >iconixar</a
  >
  from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</div> -->
