<div class="web-box">
  <nav class="nav-bar position-relative">
    <div class="header d-flex align-items-center">
      <div class="mobile">
        <a class="d-flex" (click)="drawerVisible = !drawerVisible">
          <i nz-icon nzType="menu"></i>
        </a>
        <nz-drawer
          [nzClosable]="false"
          [nzVisible]="drawerVisible"
          nzPlacement="left"
          [nzBodyStyle]="{'font-weight': '600',
            'font-size':' 1.3em',padding:'16px'}"
          (nzOnClose)="drawerVisible = false"
        >
          <ng-container *nzDrawerContent>
            <p style="padding-bottom: 10px">
              <a routerLink="/home" (click)="drawerVisible = false">首頁</a>
            </p>
            <p>
              <a routerLink="/watchlist" (click)="drawerVisible = false"
                >我的最愛</a
              >
            </p>
          </ng-container>
        </nz-drawer>
      </div>
      <!-- 首頁圖標 start -->
      <a routerLink="/home" class="px-3 logo">
        <!-- <div class="symbol">
          <img src="assets/movie.png" alt="" height="30" /><span
            style="color: red"
            >D </span
          ><span style="color: blue">B</span>
        </div> -->
        <img src="assets/logo1.jpg" height="30" alt="" />
      </a>
      <!-- 首頁圖標 end -->

      <ul class="d-flex m-0 align-items-center laptop">
        <li><a routerLink="/home">首頁</a></li>
        <li><a routerLink="/watchlist">我的最愛</a></li>
      </ul>
    </div>
  </nav>
  <!-- body start -->
  <div class="mb-3">
    <router-outlet></router-outlet>
  </div>
  <!-- body end -->
  <!-- footer start -->
  <footer class="footer">
    <nav class="row foot-nav no-gutters">
      <div class="col col-sm-4 text-center mr-3">
        <img src="https://picsum.photos/150/225?random=2" alt="" />
      </div>
      <div class="row col">
        <div class="col">
          <h5>關於我們</h5>
          <ul>
            <li><a>關於電影清單</a></li>
            <li><a>聯絡我們</a></li>
            <li>
              <a
                href="https://www.flaticon.com/authors/iconixar"
                title="iconixar"
                >Icons made by</a
              >
            </li>
          </ul>
        </div>
        <div class="col">
          <h5>參與我們</h5>
          <ul>
            <li><a>貢獻指南</a></li>
            <li><a>新增電影</a></li>
          </ul>
        </div>
        <div class="col">
          <h5>社群</h5>
          <ul>
            <li><a>指南</a></li>
            <li><a>討論</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </footer>
</div>
<!-- <div>
  Icons made by
  <a href="https://www.flaticon.com/authors/iconixar" title="iconixar"
    >iconixar</a
  >
  from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</div> -->
