@import "../custom-design.scss";
.web-box {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.nav-bar {
  background-color: $primary-color;
  a {
    text-decoration: none;
  }
}

.header {
  padding: 10px;
  height: 50px;
}

.menu {
  margin: 0;
  padding: 0;
  li {
    padding: 4px 8px;
  }
}

.mobile {
  display: none;
}

.laptop li {
  padding-right: 16px;
}

.symbol {
  padding: 0 10px;
  background-color: white;
  border-radius: 16px;
  span {
    font-weight: bold;
  }
}

@media screen and (max-width: 576px) {
  .mobile {
    display: flex;
    align-items: center;
    padding: 0 8px;
    a {
      color: black;
    }
  }
  .laptop {
    display: none !important;
  }
  .symbol {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.footer {
  margin-top: auto;
  background-color: #555;
  color: #fff;
}

.foot-nav {
  justify-content: space-evenly;
  padding: 30px;
}

li > a {
  color: white;
}

h5 {
  white-space: pre;
  color: white;
  font-weight: 600;
}

.hamburger a {
  color: black;
}
