.header {
  padding: 0 40px;
}

.drop-down li {
  padding-right: 16px;
}

footer {
  margin-top: 30px;
  background-color: #555;
  color: #fff;
}

.foot-nav{
  justify-content: space-evenly;
  padding: 30px;
}
