<div class="card-box">
  <div class="d-flex">
    <div class="img-box">
      <img appBackgroundImg loading="lazy" [posterPath]="movie.poster_path" [imgWidth]="94" [imgHeight]="141"
        [alt]="movie.title" />
    </div>
    <div class="detail">
      <div>
        <h6>
          <a [routerLink]="['/',ROUTING_PATH.MOVIE,movie.id]"> {{ movie.title }}</a>
        </h6>
        <p class="mb-2 fc-light">{{ movie.release_date|date :'mediumDate'}}</p>
      </div>
      <div class="overview">
        {{ movie.overview ? movie.overview : "Not have overview yet." }}
      </div>
    </div>
  </div>
</div>
