.card-box {
  overflow: hidden;
  height: 141px;
  border: 1px solid #aaa;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}

.img-box {
  padding: 0;
  height: 141px;
  min-width: 94px;
  width: 94px;
}

.detail {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overview {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
