<h1>{{ searchTitle }}</h1>
<!-- <carousel
  [height]="300"
  [cellWidth]="150"
  [cellsToScroll]="3"
  *ngIf="movieList$ | async as movieList; else Loading"
>
  <div
    class="carousel-cell"
    *ngFor="let movie of movieList"
    (click)="onWatchDetail(movie)"
  >
    <div class="img-box">
      <img src="{{ API_POSTER.GET_POSTER + movie.poster_path }}" alt="" />
    </div>
    <div class="info-box position-relative">
      <div class="rate-box">
        <app-rate-icon [rate]="movie.vote_average"></app-rate-icon>
      </div>
      <h6 class="pt-3 font-weight-bold">{{ movie.title }}</h6>
    </div>
  </div>
</carousel> -->
<ng-template #Loading>Loading</ng-template>
<swiper
  [slidesPerView]="imgNumber"
  [spaceBetween]="16"
  [slidesPerGroup]="imgNumber"
  [loop]="true"
  [loopFillGroupWithBlank]="true"
  [navigation]="true"
  class="mySwiper"
  *ngIf="movieList$ | async as movieList; else Loading"
>
  <ng-template swiperSlide *ngFor="let movie of movieList">
    <div class="carousel-cell" (click)="onWatchDetail(movie)">
      <div class="img-box">
        <img src="{{ API_POSTER.GET_POSTER + movie.poster_path }}" alt="" />
      </div>
      <div class="info-box position-relative">
        <div class="rate-box">
          <app-rate-icon [rate]="movie.vote_average"></app-rate-icon>
        </div>
        <h6 class="pt-3 font-weight-bold mb-0">{{ movie.title }}</h6>
        <p class="fc-light">{{movie.release_date}}</p>
      </div>
    </div>
  </ng-template>
</swiper>
