<h1>{{ searchTitle }}</h1>
<carousel
  [height]="300"
  [cellWidth]="150"
  [cellsToScroll]="3"
  *ngIf="movieList$ | async as movieList; else Loading"
>
  <div
    class="carousel-cell"
    *ngFor="let movie of movieList"
    (click)="onWatchDetail(movie)"
  >
    <div class="img-box">
      <img src="{{API_POSTER.GET_POSTER+movie.poster_path}}" alt="" />
    </div>
    <div class="info-box position-relative">
      <div class="rate-box">
      <div class="rate">{{ movie.vote_average }}</div>
      </div>
      <h3>{{ movie.title }}</h3>
    </div>
  </div>
</carousel>
<ng-template #Loading>Loading</ng-template>
