<div class="container-xl">
  <section class="search-box">
    <div class="title">
      <h2>Welcome.</h2>
      <h3>Millions of movies, TV shows and people to discover. Explore now.</h3>
    </div>
    <div class="search text-center">
        <input matInput  placeholder="Search movie here" [(ngModel)]="searchText" class="mr-1 input"/>
      <button mat-raised-button color="primary" (click)="searchMovie()">Search</button>
    </div>
  </section>
  <!-- Movie List Start -->
  <app-carousel [searchTitle]="'Latest'" [searchApi]="'now_playing'"></app-carousel>
  <app-carousel [searchTitle]="'Hottest'" [searchApi]="'top_rated'"></app-carousel>
  <app-carousel [searchTitle]="'Popular'" [searchApi]="'popular'"></app-carousel>
  <app-carousel [searchTitle]="'Upcoming'" [searchApi]="'upcoming'"></app-carousel>
</div>
