@import "../../../custom-design.scss";

.search-box {
  background-color: $secondary-color;
  // æ”¾backdrop_path
  background-image: linear-gradient(to right, $secondary-color, rgba(255, 255, 255, 0.2)),
    url("https://image.tmdb.org/t/p/w500/dq18nCTTLpy9PmtzZI6Y2yAgdw5.jpg");
  background-repeat: no-repeat;
  background-position: center, right;
}

.title {
  padding: 30px 40px;
}

.search {
  padding: 0 30px 40px;
  width: 100%;
  position: relative;
}

.input {
  height: 40px;
  width: 100%;
  border-radius: 40px;
  border: none;
  padding: 0 20px;
  margin: 0;
  background-color: white;
  outline: none;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 30px;
  border-radius: 40px;
}
