
.search-box {
  // background-image: url('https://picsum.photos/800/300?random=1');
  background-color: azure;
  background-size: cover;
}

.title {
  padding: 30px 40px;
}

.input{
  height: 36px;
}
