<div class="container-xl">
  <section class="search-box mb-2">
    <div class="title">
      <!-- <h2>Welcome.</h2> -->
      <h3>上百萬部電影在等你探索，立即瀏覽吧！</h3>
    </div>
    <div class="search">
      <input
        matInput
        placeholder="搜尋電影..."
        [(ngModel)]="searchText"
        class="mr-1 input"
      />
      <button
        mat-raised-button
        color="primary"
        class="search-btn"
        (click)="searchMovie()"
      >
        Search
      </button>
    </div>
  </section>
  <!-- Movie List Start -->
  <app-carousel
    [searchTitle]="'現正熱映'"
    [searchApi]="'now_playing'"
  ></app-carousel>
  <app-carousel
    [searchTitle]="'熱門精選'"
    [searchApi]="'popular'"
  ></app-carousel>
  <app-carousel
    [searchTitle]="'評價最高'"
    [searchApi]="'top_rated'"
  ></app-carousel>
  <!-- <app-carousel
    [searchTitle]="'Upcoming'"
    [searchApi]="'upcoming'"
  ></app-carousel> -->
</div>
