<div class="card-box">
  <div class="d-flex h-100">
    <div class="img-box">
      <img
        (error)="imgError($event)"
        src="{{ API_POSTER.GET_POSTER + movie.poster_path }}"
        alt=""
      />
    </div>
    <div class="overview-box p-3">
      <div class="row align-items-center">
        <div class="col-auto">
          <div class="rate-box">
            <app-rate-icon [rate]="movie.vote_average"></app-rate-icon>
          </div>
        </div>
        <div class="col pl-0">
          <h6>{{ movie.title }}</h6>
          <p class="mb-2 fc-light">{{ movie.release_date }}</p>
        </div>
      </div>
      <div #overview class="overview">
        {{ movie.overview ? movie.overview : "尚無介紹" }}
      </div>
      <div class="btn-groups">
        <ul class="d-flex mb-0 mt-3">
          <li>
            <a (click)="onPositiveClick(movie)">
              <button nz-button nzType="primary" nzShape="circle">
                <i nz-icon nzType="comment" nzTheme="outline"></i>
              </button>
              <span class="d-none d-md-inline">我的評論</span>
            </a>
          </li>
          <li>
            <a (click)="handleAdd()">
              <button nz-button nzType="primary" nzShape="circle">
                <i
                  nz-icon
                  nzType="heart"
                  [nzTheme]="isFavorite ? 'fill' : 'outline'"
                  [ngClass]="{ 'add-favorite': isFavorite }"
                ></i>
              </button>
              <span class="d-none d-md-inline">我的最愛</span>
            </a>
          </li>
          <li>
            <a>
              <button
                nz-button
                nzType="primary"
                nz-dropdown
                [nzDropdownMenu]="menu"
                nzTrigger="click"
                nzShape="circle"
              >
                <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
              </button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <div class="new-list-dropdown">
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="新增至清單"
                    (ngModelChange)="addToCustom($event)"
                    class="w-100"
                    [(ngModel)]="customListName"
                  >
                    <nz-option
                      *ngFor="let item of customList"
                      [nzLabel]="item.subject"
                      [nzValue]="item"
                    ></nz-option>
                  </nz-select>
                </div>
              </nz-dropdown-menu>
              <span class="d-none d-md-inline">新稱至清單</span>
            </a>
          </li>
          <li>
            <a (click)="removeFromWatchList(movie)">
              <button nz-button nzType="primary" nzShape="circle">
                <i nz-icon nzType="close" nzTheme="outline"></i>
              </button>
              <span class="d-none d-md-inline">移除</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
