/** 基礎功能色設定 */
$color-white: #fff;
$color-dark: rgba(0, 0, 0, 0.8);
$color-orange: #ff9f00;
$color-green: #4cc790;
$color-red: #ee1111;
// 主要色
$primary-color: #d7d0c8;
// 主要色變形
$primary-variant-color: #95a78d;
// 次要色
$secondary-color: #c8c6af;
// 次要色變形
$secondary-variant-color: #bd897e;
// 第三色
$third-color: #e4572e;
// 第三色變形
$third-variant-color: #eed7ed;

// 淺灰
$color-light-gray: #f7f7f7;
$color-gray: #666;
