/* You can add global styles to this file, and also import other style files */
@import "./custom-design.scss";
@import "~swiper/swiper-bundle";
@import "~swiper/swiper";
@import "~swiper/components/pagination/pagination";
@import "~swiper/components/navigation/navigation";
// 覆蓋 ant-design color

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Noto Serif TC", "Roboto", "Helvetica Neue", sans-serif;
}
ul {
  list-style: none;
  padding: 0px;
}

p{
  margin: 0;
}
/* mobile view start */
.mobile-center {
  @media (max-width: 767px) {
    text-align: center;
  }
}

/* dialog start */
.mat-dialog-container {
  background-color: $secondary-color;
  color: $color-dark;
  .mat-dialog-title {
    text-align: center;
    margin: 0;
  }
}

/* paginator start*/
mat-paginator .mat-paginator-container {
  justify-content: center;
}

// menubar start
.mat-menu-content {
  background-color: $color-gray;
}

// mat-list start
.mat-list-base .mat-list-item {
  color: $color-dark;
  &.no-padding .mat-list-item-content{
    padding: 0;
  }
}


// mat-label
.mat-tab-label {
  color: $color-dark;
}

// 改日曆
.mat-form-field-suffix .mat-icon-button {
  color: $primary-color;
}

// font color
.fc-light{
  color: rgba($color: #000000, $alpha: 0.6);
}

.ant-drawer-left{
  top: 50px;
}
