/* You can add global styles to this file, and also import other style files */
@import "./custom-design.scss";
@import "~swiper/swiper-bundle";
@import "~swiper/swiper";
@import "~swiper/components/pagination/pagination";
@import "~swiper/components/navigation/navigation";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
ul {
  list-style: none;
  padding: 0px;
}

/* mobile view start */
.mobile-center {
  @media (max-width: 767px) {
    text-align: center;
  }
}

/* dialog start */
.mat-dialog-container {
  background-color: $primary-color;
  .mat-dialog-title {
    text-align: center;
    margin: 0;
  }
}

/* paginator start*/
mat-paginator .mat-paginator-container {
  justify-content: center;
}

// menubar start
.mat-menu-content {
  background-color: red;
}
